.table-csm {
  .th-tencs {
    max-width: 150px;
    min-width: 150px;
    width: 150px;
  }
  .th-sdt {
    max-width: 120px;
    min-width: 120px;
    width: 120px;
  }
  .th-dc {
    max-width: 250px;
    min-width: 250px;
    width: 250px;
  }
}