@import 'variable.scss';
@charset "utf-8";

// config font
@font-face {
  font-family: "vnfoptimaregular";
  src: url("./../assets/fonts/vnfoptimaregular.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/vnfoptimaregular.woff") format("woff"),
    url("./../assets/fonts/vnfoptimaregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*===== CSS RESET =====*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,img,ins,kbd,q,s,samp,strike,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select {
  border:0;
  font-size:100%;
  margin:0;
  outline:none;
  padding:0;
  vertical-align:baseline;
}
.clear {clear:both;}
.clearfix {
  *zoom:1;
  &:after {
    clear:both;
    content:" ";
    display:table;
  }
}
ul, ol {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table, caption, tbody, thead, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input, textarea, select {
  border-radius: 0;
}
input[type="text"], input[type="number"], input[type="tel"], 
input[type="email"], input[type="submit"], textarea {
  appearance: none;
}
button, input, textarea, select, optgroup {
  color: inherit;
  font-family: inherit;
}
input, select {vertical-align: middle;}
sub, sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  &:before {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  &:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
}
.clickable,
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
  transform: translate3d(0,0,0);
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {appearance: button;}
input[type="search"] {
  box-sizing: content-box;
  appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {appearance: none;}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}
small {font-size: 80%;}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: $color-black;
  color: $color-white;
  font-family: $font-vnfoptimaregular;
  font-size: $font-size-base;
  line-height: 1.4;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {-webkit-box-shadow: 0 0 0 30px $color-white inset !important;}
input:-internal-autofill-selected {background-color: transparent !important;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

/*===== COMMON =====*/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  height: 4px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.5), inset 1px 1px 0 rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {background-color: transparent;}
a {
  text-decoration: none;
  transition: .3s;
  color: $color-white !important;
  &:active, &:visited, &:focus, &:hover {
    text-decoration: none;
    outline: none;
  }
}
button {
  &:hover, &:active, &:focus {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}
input:disabled, button:disabled {
  &:hover {cursor: not-allowed;}
}
.btn-view {
  color: $color-white;
  &:hover {color: $color-orange;}
}

.d-block {display: block;}
.d-flex-between {
  display: flex;
  justify-content: space-between;
}
.align-items-flex-end {align-items: flex-end;}

.reset-button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-color: transparent;
  padding: 0;
  outline: none;
  line-height: 1;
  &:hover, &:active, &:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0;
    box-shadow: none;
  }
}

.font-bold {font-weight: bold;}
.error-msg {
  margin-top: 5px;
  font-size: 12px;
  color: $color-red;
}

.modal-backdrop {background-color: $color-white;}

.form-group {
  .form-control {
    color: $color-white;
    border-color: $color-white;
    border-width: 0 0 2px 0;
    border-radius: 0;
    background-color: transparent;
    &:focus {
      color: $color-white;
      box-shadow: none;
      border-color: $color-orange;
      background-color: transparent;
    }
    &.invalid {border-color: $color-red;}
  }
  textarea {
    margin-top: 10px;
    height: 200px;
    border-radius: 5px !important;
    background-color: $color-white !important;
    color: $color-black !important;
    border: 0;
  }
  label {
    color: $color-white;
    font-size: 16px;
    > span {
      font-weight: bold;
      color: $color-red;
    }
  }
  .prefix {
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 12px;
    + input {
      padding-right: 40px;
      position: relative;
      z-index: 2;
    }
  }
  .text-readonly {padding-top: 6px;}
}

// login page
.login-page {
  position: relative;
  height: 100vh;
  .bgd-login {
    height: 100%;
    background: url('./../assets/images/bgd-login.jpg') no-repeat center center;
    background-size: cover;
  }
  .inner {
    position: absolute;
    top: 100px;
    left: 15px;
    right: 15px;
    z-index: 10;
    background-color: rgba(66, 66, 0, .8);
    padding: 20px 40px;
    border-radius: 10px;
    .ttl-login {
      font-size: 30px;
      color: $color-white;
    }
    .icon-user {
      position: absolute;
      top: -52px;
      left: 50%;
      z-index: 1;
      margin-left: -35px;
      color: $color-white;
      font-size: 70px;
    }
    .form-login {
      margin-top: 20px;
      .form-control {background-color: transparent;}
    }
  }
  @media screen and (min-width: $min-md) {
    .inner {
      width: 400px;
      left: 50%;
      margin-left: -200px;
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .5);
  img {
    width: 250px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.not-found-page {
  height: 300px;
  background-color: $color-black-2;
  padding: 100px 40px 100px 210px;
  .inner {
    position: relative;
    left: 50%;
    width: 600px;
    margin-left: -350px;
    padding-left: 60px;
  }
  .fa {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    margin-top: -60px;
    color: $color-orange;
    font-size: 120px;
  }
  p {
    font-size: 30px;
    text-align: center;
  }
}

.empty-block {
  padding: 20px;
  .title-empty {
    color: $color-white;
    font-size: 20px;
    text-align: center;
  }
  .fa-exclamation-triangle {color: $color-orange;}
}

.wrapper-container {
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  min-height: 800px;
  &.homepage {
    height: 100vh;
    background: url('../assets/images/bgd-homepage.jpg') no-repeat center center;
    background-size: cover;
    header, footer {background-color: transparent;}
    header {
      .ttl-help {display: none;}
    }
    footer {
      .author {color: $color-white;}
    }
    .main-content {margin-top: 40px;}
    .side-bar-block {
      background: none;
      border-right: 0;
    }
  }
}

.main-content {
  margin-top: 60px;
  margin-left: 50px;
  padding-bottom: 60px;
  transition-duration: .3s;
  transition-property: margin-left;
  > .outer {padding: 20px 0;}

  &.full-content {
    margin-left: 200px;
    header, footer {left: 200px !important;}
    header .btn-menu .fa:before {content: "\f00d";}
  }
}

.list-default {
  .btn-add {color: $color-white;}
  .title-heading {
    padding: 10px 20px;
    background-color: $color-black-1;
    border-bottom: solid 1px $color-black-3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    .ttl-list {font-size: 18px;}
    .fa-list-alt {font-size: 30px;}
    .fa-question-circle {font-size: 25px;}
  }
  .body-heading {
    background-color: $color-black-2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &.inner {padding: 20px;}
  }
  .row-tt {width: 260px;}
}

@keyframes moveTopBottom {
  0% {top: 0;}
  100% {top: -5px;}
}

.custom-table {
  margin-bottom: 0;
  thead th {vertical-align: middle;}
  tbody {
    border: 0 !important;
    .tr-disabled {
      td {
        position: relative;
        background-color: transparent !important;
        color: $color-white !important;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(255, 255, 255, .5);
        }
        &:hover {
          padding-right: 10px;
          cursor: not-allowed;
        }
        .btn-delete, .btn-edit {display: none;}
      }
    }
    td {
      padding: 5px 10px;
      vertical-align: middle;
      &.td-bgd-yellow {
        background-color: $color-yellow;
        color: $color-black;
        .btn-delete {
          color: $color-black;
          &:hover {color: $color-red;}
        }
      }
      &.td-bgd-blue {background-color: $color-blue-1;}
      &.td-bgd-purple {background-color: $color-purple-1;}
      &.td-bgd-red {
        background-color: $color-red-2;
        .btn-delete:hover {color: $color-black;}
      }
    }
  }
  .td-relative {
    position: relative;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: padding;
    &:hover {
      padding-right: 30px;
      .btn-delete-ab {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .th-stt {width: 40px;}
  .th-action, .th-date, .th-gia, .th-ma {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
  }
  .th-sl, .th-action-small {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
  }
  .th-money {
    max-width: 120px;
    min-width: 120px;
    width: 120px;
  }
  .th-min {min-width: 150px;}
  .th-tencs {
    max-width: 150px;
    min-width: 150px;
    width: 150px;
  }
  .button-control {
    padding: 5px;
    font-size: 20px;
    color: $color-white;
  }
  .btn-delete-ab {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    margin-top: -8px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
  }
  .btn-edit:hover {
    position: relative;
    animation: moveTopBottom .3s infinite alternate;
    -webkit-animation: moveTopBottom .3s infinite alternate;
    color: $color-orange;
  }
  .btn-delete:hover {color: $color-red;}
}

.modal-custom {
  .close {color: $color-white;}
  .modal-content {
    overflow: hidden;
    border-radius: 10px;
    border: none;
    background-color: transparent;
  }
  .modal-header {
    padding: 10px 20px;
    background-color: $color-black-1;
    border-color: $color-black-3;
    .modal-title {font-size: 20px;}
  }
  .modal-body, .modal-footer {background-color: $color-black-2;}
  .modal-footer {border-color: $color-black-3;}
  &.modal-view .modal-body {padding: 0;}
}

.pagination-custom {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  .ant-pagination-disabled {display: none;}
  .ant-pagination-item {
    width: 32px !important;
    height: 32px !important;
    background-color: transparent;
    border: 0;
    > a {
      display: block;
      width: 100%;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      color: $color-white;
      &:hover {
        border: solid 1px $color-green;
        color: $color-green;
      }
    }
  }
  .ant-pagination-item-active > a {
    border: solid 1px $color-green;
    color: $color-green !important;
  }

  .ant-pagination-next,
  .ant-pagination-prev {
    margin: 0;
    .ant-pagination-item-link {
      width: 32px;
      height: 32px;
      border: 0;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        .anticon {
          border-top: solid 2px $color-green;
          border-right: solid 2px $color-green;
        }
      }
    }
    .anticon {
      width: 10px;
      height: 10px;
      border-top: solid 2px $color-white;
      border-right: solid 2px $color-white;
      svg {display: none;}
    }
  }
  .ant-pagination-next .anticon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ant-pagination-prev .anticon {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .ant-pagination-jump-next, .ant-pagination-jump-prev {
    width: 32px !important;
    height: 32px !important;
    .ant-pagination-item-link, .ant-pagination-item-container {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .ant-pagination-item-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-pagination-item-link:hover {
      .anticon svg {
        width: auto;
        height: auto;
        color: $color-green;
      }
      .ant-pagination-item-ellipsis {display: none;}
    }
    .ant-pagination-item-ellipsis {
      position: static;
      color: $color-white;
    }
    .anticon svg {
      width: 0;
      height: 0;
      color: $color-white;
      transition-duration: .3s;
      transition-property: width, height;
    }
  }
}

.datepicker-custom {
  color: $color-black;
  .ant-picker {width: 100%;}
  input::placeholder {color: $color-black;}
  .invalid {border: solid 1px $color-red;}
}
.ant-picker-cell-disabled {pointer-events: unset;}
.ant-picker-cell:not(.ant-picker-cell-disabled):hover .ant-picker-cell-inner {
  color: $color-white;
  background-color: #1890ff !important;
}

.select-custom {
  .ant-select {width: 100%;}
  .ant-select-selection-placeholder {color: $color-black;}
  &.invalid {
    .ant-select-selector {
      border-color: $color-red !important;
      box-shadow:  0 0 2px $color-red !important;
    }
  }
}

.react-daterange-picker {
  height: 32px;
  width: 100%;
  display: block !important;
  &:hover .react-daterange-picker__wrapper {border-color: #40a9ff;}
  &.invalid {
    border: 0;
    .react-daterange-picker__wrapper {border-color: $color-red;}
  }
  .react-daterange-picker__calendar {width: 280px;}
  .react-daterange-picker__wrapper {
    position: relative;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: $color-white;
  }
  .react-daterange-picker__inputGroup {
    display: flex;
    align-items: center;
    padding: 0 10px;
    span, input {
      background-color: transparent !important;
      color: $color-black;
      font-family: $font-vnfoptimaregular !important;
      vertical-align: 0;
    }
    .react-daterange-picker__inputGroup__input react-daterange-picker__inputGroup__day {width: 20px !important;}
  }
  .react-daterange-picker__clear-button, .react-daterange-picker__calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .react-daterange-picker__clear-button {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  .react-daterange-picker__calendar-button {z-index: 5;}
  &.isValue {
    .react-daterange-picker__clear-button {
      opacity: 1;
      z-index: 5;
      visibility: visible;
    }
    .react-daterange-picker__calendar-button {
      z-index: 1;
      opacity: 0;
      visibility: hidden;
    }
  }
  .react-calendar__tile:not(.react-calendar__tile:disabled) {
    width: 30px !important;
    height: 30px !important;
    overflow: inherit !important;
    max-width: inherit !important;
    padding: 0 !important;
    &:hover {
      color: $color-white;
      border: solid 1px $color-purple-1 !important;
      background-color: $color-purple-1 !important;
    }
  }
  .react-calendar__tile--now {
    background-color: transparent !important;
    border: solid 1px $color-purple-1 !important;
  }
  .react-calendar__tile--active {background-color: $color-purple-1 !important;}
  .react-calendar__tile:disabled, .react-calendar__navigation__next-button:disabled, .react-calendar__navigation__next2-button:disabled {cursor: not-allowed;}
  .react-calendar__navigation {margin-bottom: 0;}
  .react-calendar__navigation__arrow {font-size: 20px;}
  .react-calendar__navigation__label, .react-calendar__navigation__arrow:not(.react-calendar__navigation__arrow:disabled) {
    &:hover {
      background-color: $color-purple-1 !important;
      color: $color-white;
    }
    &:focus {background-color: transparent;}
  }
}

.ant-back-top {
  right: 5px;
  bottom: 70px;
  .ant-back-top-content {
    background-color: $color-purple;
    .anticon {vertical-align: 0;}
  }
}

.accordion-custom {
  background-color: transparent;
  border: 0;
  .ant-collapse-item {
    border: 0;
    .ant-collapse-header {
      position: relative;
      font-size: 16px;
      white-space: nowrap;
      color: transparent;
      .anticon {
        position: absolute;
        top: 50%;
        right: 18px;
        z-index: 1;
        margin-top: -6px;
        margin-right: 0;
        color: $color-white;
      }
    }
  }
  .ant-collapse-content {
    background-color: transparent;
    border: 0;
    padding: 0;
    .ant-collapse-content-box {padding: 0;}
  }
}

.ant-tooltip {
  .ant-tooltip-arrow-content, .ant-tooltip-inner {background-color: $color-purple-1;}
}
