$font-size-base: 14px;

$font-vnfoptimaregular: 'vnfoptimaregular', Arial, sans-serif;

// color
$main-color: #424200;
$color-white: #fff;
$color-black: #000;
$color-black-1: #20202a;
$color-black-2: #23242d;
$color-black-3: #181924;
$color-red: #ff0000;
$color-dark-gray: #2c2c34;
$color-blue: #4638c2;
$color-purple: #7267d3;
$color-orange: #e1a82d;
$color-green: #1fff1f;

// config responsive
$min-md: 768px;