@import './../../../styles/variable.scss';

.search-form {
  min-width: 300px;
  .form-group {
    position: relative;
    margin: 0;
  }
  .form-control {
    padding-right: 40px;
    &:focus {
      color: $color-orange;
      + .btn-search .fa-search {color: $color-orange;}
    }
  }
  .btn-search {
    box-shadow: none;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    margin-top: -19px;
    .fa-search {
      color: $color-white;
      font-size: 20px;
    }
  }
}