@import './../../../styles/variable.scss';

.search-form {
  width: 320px;
  position: relative;
  .form-group {
    position: relative;
    margin: 0;
    width: 280px;
  }
  .form-control {
    padding-right: 40px;
    &:focus {
      color: $color-orange;
      + .btn-search .fa-search {color: $color-orange;}
    }
  }
}
.btn-search, .btn-refresh {
  box-shadow: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -19px;
  .fa {
    color: $color-white;
    font-size: 20px;
    transition-duration: .3s;
    transition-property: transform color;
  }
}
.btn-search {
  right: 0;
  &:hover {
    .fa-search {
      color: $color-orange;
      transform: scale(1.3);
    }
  }
}
.btn-refresh {
  right: -10px;
  &:hover .fa {
    color: $color-orange;
    transform: rotate(180deg);
  }
}