@import './../../styles/variable.scss';
@import './../../components/common/Search/Search.scss';

.search-socat {
  min-width: 400px;
  padding-right: 40px;
  position: relative;
  .form-group {margin: 0;}
  .btn-search {right: -5px;}
}