@import './../../styles/variable.scss';
@import './../../components/common/Search/Search.scss';

.search-socat {
  min-width: 700px;
  position: relative;
  padding-right: 50px;
  .form-group {margin: 0;}
  .btn-refresh {right: 0;}
}