@import './../../styles/variable.scss';

@keyframes moveTopRight {
  0% {right: 20px;}
  100% {right: 10px;}
}
.sumary-block {
  .bgd {
    .ttl {
      font-weight: bold;
      text-transform: uppercase;
    }
    .number {
      display: block;
      margin-top: 5px;;
      font-size: 16px;
    }
  }
  .bgd-1 .link-detail {
    background: #2d2587!important;
    background: linear-gradient(45deg,#4638c2,#2d2587)!important;
    border-color: #2d2587!important;
  }
  .bgd-2 .link-detail {
    background: #4280b4!important;
    background: linear-gradient(45deg,#4799eb,#4280b4)!important;
    border-color: #4280b4!important;
  }
  .bgd-3 .link-detail {
    background: #dd9124!important;
    background: linear-gradient(45deg,#e1a82d,#dd9124)!important;
    border-color: #dd9124!important;
  }
  .bgd-4 .link-detail  {
    background: #c14f4f!important;
    background: linear-gradient(45deg,#d16767,#c14f4f)!important;
    border-color: #c14f4f!important;
  }
  .link-detail {
    position: relative;
    overflow: hidden;
    color: $color-white;
    border-radius: 10px;
    height: 80px;
    padding: 10px;
    display: block;
    &:hover {
      .fa {
        animation: moveTopRight .3s infinite alternate;
        -webkit-animation: moveTopRight .3s infinite alternate;
      }
    }
    .fa {
      position: absolute;
      bottom: 5px;
      right: 10px;
      z-index: 1;
    }
  }
}

.show-info-money {
  overflow: hidden;
  border-radius: 10px;
  background-color: $color-black-1;
  .title {
    padding: 12px 15px 15px;
    background-color: $color-black-3;
    color: $color-white;
    font-size: 20px;
  }
  > .inner {padding: 20px 15px;}
  .detail-money-block {
    padding: 0 15px;
    li {padding: 5px 0;}
    .ttl-detail {
      position: relative;
      display: inline-block;
      min-width: 170px;
      padding-right: 15px;
      text-align: right;
      &:before {
        content: ':';
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1;
      }
    }
  }
}
