@import './../../../styles/variable.scss';

.side-bar-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 250px;
  background-color: $color-dark-gray;
  border-right: solid 1px $color-white;
  > .outer {
    height: 100%;
    overflow-x: scroll;
    padding-bottom: 80px;
  }
  .ttl-side-bar {
    background-color: $color-dark-gray;
    height: 60px;
    padding: 15px 20px;
    border-bottom: solid 1px $color-white;
    font-size: 20px;
    color: $color-white;
    .fa-industry:before {font-size: 30px;}
  }
  .link-dashboard {
    display: block;
    padding: 12px 15px 15px;
    background-color: hsla(0, 0%, 100%, .5);
    .fa-tachometer:before {font-size: 20px;}
    &:hover {background-color: $color-blue;}
  }
  .ttl-article {
    padding: 20px 15px 0;
    color: $color-white;
  }
  .list-menu {
    margin-top: 10px;
    .fa {min-width: 20px;}
    a {
      position: relative;
      display: block;
      padding: 15px 30px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        z-index: 1;
        height: 1px;
        background-color: $color-white;
        transition-duration: .3s;
        transition-property: right;
      }
      &:hover {
        background-color: $color-blue;
        &:before {right: 0;}
      }
    }
    .active a {
      background-color: $color-blue;
      &:before {right: 0;}
    }
  }
}