@import './../../../styles/variable.scss';

.side-bar-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 50px;
  background-color: $color-dark-gray;
  border-right: solid 1px $color-white;
  transition-duration: .3s;
  transition-property: width;
  overflow: hidden;
  > .outer {
    height: 100%;
    overflow-x: scroll;
    padding-bottom: 80px;
  }
  .sub-ttl {
    opacity: 0;
    transition-duration: .8s;
    transition-property: opacity;
  }
  .ttl-side-bar {
    white-space: nowrap;
    background-color: $color-dark-gray;
    height: 60px;
    padding: 14px 9px;
    border-bottom: solid 1px $color-white;
    font-size: 20px;
    color: $color-white;
    transition-duration: .3s;
    transition-property: padding;
    .fa-industry {font-size: 30px;}
  }
  .link-dashboard {
    white-space: nowrap;
    display: block;
    padding: 12px 15px 15px;
    background-color: hsla(0, 0%, 100%, .5);
    .fa-tachometer:before {font-size: 20px;}
    &:hover {background-color: $color-blue;}
  }
  .ttl-article {
    opacity: 0;
    padding: 0;
    height: 0;
    color: $color-white;
    white-space: nowrap;
    transition-duration: .3s;
    transition-property: padding height opacity;
  }
  .list-menu {
    .fa {
      min-width: 20px;
      text-align: center;
    }
    a {
      position: relative;
      display: block;
      padding: 15px 16px;
      white-space: nowrap;
      transition-property: padding;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        z-index: 1;
        height: 1px;
        background-color: $color-white;
        transition-duration: .3s;
        transition-property: right;
      }
      &:hover {
        background-color: $color-blue;
        &:before {right: 0;}
      }
    }
    .active a {
      background-color: $color-blue;
      &:before {right: 0;}
    }
  }
  &.full-sidebar {
    width: 250px;
    .ttl-side-bar {padding: 15px 20px;}
    .sub-ttl {opacity: 1;}
    .ttl-article {
      padding: 10px 15px;
      margin-top: 10px;
      height: auto;
      opacity: 1;
    }
    .list-menu a {padding: 15px 30px;}
  }
}