@import './../../../styles/variable.scss';

footer {
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  z-index: 10;
  background-color: $color-dark-gray;
  .inner {
    padding-top: 20px;
    padding-bottom: 20px;;
  }
  .author {
    color: $color-purple;
    font-weight: bold;
    text-decoration: underline;
  }
}